body{
	 padding-top: 2%; 
}

#aboutMe{
	text-align: center;
}
#myImg{
	height: 80%;
	width:80%;
	border-radius: 100%;
}
#aboutMeText{
	font-family: cursive;
	font-size: 150%;
}
#links{
	text-align: left;
	padding-left: 20%;
	font-weight: 50;
	font-size: 150%;
	text-decoration: underline;
}
#LinkedIn{
	padding-left: 15%;
}
#Github{
	padding-left: 15%;
}
#Otherlinks{
	text-align: left;
	padding-left: 20%;
	font-weight: 50;
	font-size: 100%;
	text-decoration: underline;
}
#InterviewBit{
	padding-left: 10%;
}
#Android{
	padding-left: 10%;
}
#chrome{
	padding-left: 10%;
}
#email{
	text-align: left;
	padding-left: 20%;
	font-weight: 50;
	font-size: 100%;
	padding-top: 4%;
	text-decoration: underline;
}

hr {
color: #123455;
background-color: #123455;
border: none;
height: 2px;
margin: 0 0;
}
a{
	color: #3f403f;
}

