body{
	 padding-top: 2%; 
}
#name{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: bold;
}
#aboutMe{
	text-align: center;
}
#myImg{
	height: 60%;
	width: 	60%;
	border-radius: 100%;
}
#aboutMeText{
	text-align: left;
	font-family: cursive;
	font-size: 150%;
}
#links{
	text-align: left;
	
	font-weight: 50;
	font-size: 150%;
	
}
#LinkedIn{
	text-decoration: underline;
}
#Github{
	text-decoration: underline;
}
#Otherlinks{
	text-align: left;
	font-weight: 50;
	font-size: 100%;

}
#underline{
	text-decoration: underline;
}
#icons{
	text-align: left;
	padding-top: 2%;
}
#Android{
}
#chrome{
}
#email{
	text-align: left;
	font-weight: 50;
	font-size: 100%;
	padding-top: 4%;
	text-decoration: underline;
}

hr {
color: #123455;
background-color: #123455;
border: none;
height: 2px;
margin: 0 0;
}
a{
	color: #3f403f;
}

