
h3{
	font-size: 30px;
	font-weight: 600;
	font-family: roboto;
	text-transform: uppercase;
	text-decoration: underline;
		text-shadow:0px 4px 3px	rgba(0,0,0,0.4)
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
	margin: 0 0 ;			
}
#first{
	padding-left:20px;
	font-size: 20px;
}
.heading{
	text-align: center;
	padding-bottom: 1em;
}
.topMenu{
	/*background: #636363;*/
	opacity: 0.7;
	text-transform: uppercase;


}
#content{
	font-family: roboto;
	padding-top: 100px;
	padding-right: 10px;
	text-shadow:0px 4px 3px	rgba(0,0,0,0.4)
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

#img{
	padding-top: 40px;
/*	width:100%; 
    height:400px; 
     background-image: url(b1.png);*/
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  /*left: 150px;*/
  top: 100px;
}
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("cover.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
  background-color: #b1b5bc;
  color: #fff;
 padding:10px;
  font-size: 2em;
  letter-spacing: 8px;
  font-family: 'Calligraffitti', cursive;
  
}
.cars{
	background: #e8e5e5;
}
ul{
	margin: 0 0 ;
}
#gallery{
	text-align: center;
	background: #a8a4a4;
	padding: 0 0 ;
	margin: 0 0;
}
#aboutUs{
	background: #d8d0d0;
	padding-left: 10px;
	padding-right: 5px;
}
p{
	margin : 0 0;
	padding: 0 0 ;
}
.text{
	font-family: roboto;
	text-shadow:0px 4px 3px	rgba(0,0,0,0.4)
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
				font-size: 20px;
}
.col{
	padding: 0 0 ;
}
#awards{
	background: #bcbcb5;
	padding: 1em 10 20 2em ;
}
.awardsText{
	font-size: 30px;
	font-family: roboto;
	text-shadow:0px 4px 3px	rgba(0,0,0,0.4)
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}
#footer{
	background: #d6d8db;
}
#icons{
	text-align: center;	
}